.menu {
display: flex;
}

.menu .transparent {
  height: 80px;
  margin: 0;

}


.menu .menu_into {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 80px;
  position: fixed;
  background-color: rgb(238, 238, 238);
  width: 992px;

}

.menu .menu__button-logo {
  display: flex;
  align-items: center;
}

.menu .menu__button-logo .menu__button {
  display: flex;
  flex-direction: column;
  margin-left: 10px;

}

.menu .menu__button-logo .menu__button .menu__button_item {
  width: 50px;
  height: 5px;
  background-color: black;
  margin-bottom: 12px;
}

.menu .menu__button-logo .menu__logo {
  height: 47px;
  margin-left: 30px;
}

.menu .menu__button-logo .menu__logo img {
  height: 100%;
  object-fit: cover;
}

.menu .menu__search {
  width: 70%;
  display: flex;
  margin-left: 50px;
}

.menu .menu__search input {
  width: 100%;
  height: 45px;
  border: solid 1px rgb(161, 161, 161);
  border-radius: 5px;
  color: rgb(201, 200, 200);
  font-size: 30px;
  padding-left: 10px;
  box-sizing: border-box;
}
