.news-opened {
    display: flex;
    flex-direction: column;
}

.news-opened__body {
    padding: 0 10px;
}

.news-opened .news-opened__pict {
    width: 100%;
    height: 300px;
    background-position: center;
}


.news-opened  .news-opened__head {
    font-size: 22px;
    margin-top: 20px; 
    font-weight: bold;
}

.news-opened .news-opened__description {
    padding-bottom: 20px;
    box-sizing: border-box;
    color: rgb(114, 114, 114);
    font-size: 16px;
}

.news-opened .news-opened__tags-date {
   display: flex;
   margin-top: 10px;
}



.news-opened .news-opened__tags-date .news-opened__tags {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
}

.news-opened .news-opened__tags-date .news-opened__tags a {
    text-decoration: none;
}

.news-opened .news-opened__tags-date .news-opened__tags div {
    margin-left: 10px;
    background-color: rgb(0, 194, 26);
    padding: 3px 7px 3px 7px;
    color: white;
    border-radius: 2px;
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 12px;
}


.news-opened .news-opened__tags-date  .news-opened__date {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: rgb(160, 160, 160);
    width: 30%;
    font-size: 15px;
} 