.comments__item {
    display: flex;
    flex-direction: column;
    padding: 20px 0 20px 0; 
    border-bottom: 1px solid rgb(238, 238, 238) ;

 }
 
 .comments__item .profile {
   display: flex;
 }
 

 
.comments__item .profile .profile__name {
    display: flex;
    margin-left: 10px;
    font-size: 20px;
    align-items: center;
  }
 
.comments__item .profile .profile__img img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
 }

 .comment {
   font-size: 15px;
 }
