.read-more__item {
  padding: 8px 0 8px 0;
  box-sizing: border-box; 
  width: 100%;
}

.read-more__item .read-more__item__pict {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 20px;
  object-position: center;
  width: 100%;
}

.read-more__item .read-more__item__pict a .read-more__item__head-date {
  display: flex;
  flex-direction: column;
}

.read-more__item
  .read-more__item__pict
  .read-more__item__head-date
  .read-more__item__date {
  color: white;
  font-size: 12px;
  margin-bottom: 20px;
}

.read-more__item .read-more__item__head-date .read-more__item__head {
  font-size: 19px;
  color: white;
  font-weight: bold;
}

.read-more__item  a {
  text-decoration: none;
}
