.read-more__item {
  padding: 8px 0 8px 0;
  box-sizing: border-box; 
  width: 100%;
}

.read-more__item .read-more__item__pict {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  object-position: center;
}

.read-more__item__head-date {
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.4) 25%, rgba(2,0,36,1) 100%);
  padding: 20px;
}

.read-more__item
  .read-more__item__pict
  .read-more__item__head-date
  .read-more__item__date {
  color: white;
  font-size: 12px;
  margin-bottom: 20px;
}

.read-more__item .read-more__item__head-date .read-more__item__head {
  font-size: 19px;
  color: white;
  font-weight: bold;
}

.read-more__item  a {
  text-decoration: none;
}
