.news-rating-vote {
    display: flex;
    font-size: 15px;
    line-height: 0,1;
 }

.news-rating-vote .news-rating-vote__body {
     position: relative;
 }

.news-rating-vote .news-rating-vote__body::before {
     content: "★★★★★";
     display:block;   
     top:0;
     left:0;

 }

.news-rating-vote .news-rating-vote__body .news-rating-vote__items {
    display: flex;
    position: absolute;
    width: 100%;
    top:0;
 }

.news-rating-vote .news-rating-vote__body .news-rating-vote__active {
     position: absolute;
     height: 100%;
     top:0;
     left:0;
     overflow: hidden;
 }

.news-rating-vote .news-rating-vote__body .news-rating-vote__active::before {
   content: "★★★★★";
   position: absolute;
   width: 100%;
   height: 100%;  
   top:0;
   left:0;
   color: burlywood;

 }

 .news-rating-vote .news-rating-vote__body .news-rating-vote__items .news-rating-vote__item {
    height: 100%;  
    margin-right: 1px;
    margin-left: 1px;
    margin-top: 5px;
    opacity: 0;
   

 }

.news-rating-vote .news-rating-vote__value {
     line-height: 2;
     padding: 0px 0px 0px 10px;
 }